# Thumbnails
._*

*@types/node*

projects/ImageHotspot/node_modules/.bin/karma
projects/ImageHotspot/node_modules/.bin/tslint
projects/ImageHotspot/node_modules/karma/package.json
projects/ImageHotspot/node_modules/tsline/package.json