.background { 
  overflow: scroll; 
  position: fixed; 
  background-color: #ff9933; 
  height: 1000px; 
  width: 95%; 
  border-radius: 4px; 
  background-image: url('./assets/img/asia.map.jpg'); 
  background-size: 100% auto; 
  background-repeat:no-repeat; 
}

.hotspot { 
  background-color: #33adff; 
  width: 50px; 
  height: 50px; 
  border-radius: 50%; 
  display: solid; 
  position: fixed; 
}