<div class="container">
  <img src="./assets/img/asia.map.jpg" class="background" (click)="onSelectBG()">
  <div class="hotspot" *ngFor="let hotspot of hotspots" [class.selected]="hotspot === selectedHotSpot" (click)="onSelect(hotspot)"
    [ngStyle]="setPosition(hotspot)"> <span>{{hotspot.id}}</span> </div>
  <div *ngIf="!backgroundSelected">
    <my-popup [hotspotID]="selectedHotSpot.id"></my-popup>
  </div>
</div>

<!--<h1>Tour of Heroes ({{mode}})</h1>
<h3>Heroes:</h3>
<ul>
  <li *ngFor="let hotspot of hotspots">{{hotspot.content}}</li>
</ul>

<label>New hero name: <input #newHeroName /></label>
<button (click)="addHero(newHeroName.value); newHeroName.value=''">Add Hero</button>

<p class="error" *ngIf="errorMessage">{{errorMessage}}</p>-->