<div>
  <h1 x-large class="sample-content">Your Content Here</h1>

  <hr>

  <div>
    For hot module reloading run
    <pre>npm run start:hmr</pre>
  </div>

  <hr>

  <div>
    <h4>Accordion example</h4>

    <section class="ac-container">
      <div>
        <input id="ac-1" name="accordion-1" type="radio" checked />
        <label for="ac-1">About us</label>
        <article class="ac-small">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eros velit, aliquet a risus a, aliquam venenatis nulla. Nulla ac leo sit amet tellus dapibus posuere. Ut vitae nulla tempor, placerat lorem a, condimentum massa. Curabitur lacinia eget dolor a commodo. Nam malesuada orci eleifend sapien rhoncus eleifend. Cras at ante neque. Aenean id arcu vitae dui accumsan volutpat. Suspendisse potenti. Vivamus sem nisl, pellentesque nec vulputate at, sodales vitae augue. Morbi eu diam mauris. Nullam vel ante turpis. Etiam ac tincidunt erat. Duis eu fringilla quam.
          </p>
        </article>
      </div>
      <div>
        <input id="ac-2" name="accordion-1" type="radio" />
        <label for="ac-2">How we work</label>
        <article class="ac-medium">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eros velit, aliquet a risus a, aliquam venenatis nulla. Nulla ac leo sit amet tellus dapibus posuere. Ut vitae nulla tempor, placerat lorem a, condimentum massa. Curabitur lacinia eget dolor a commodo. Nam malesuada orci eleifend sapien rhoncus eleifend. Cras at ante neque. Aenean id arcu vitae dui accumsan volutpat. Suspendisse potenti. Vivamus sem nisl, pellentesque nec vulputate at, sodales vitae augue. Morbi eu diam mauris. Nullam vel ante turpis. Etiam ac tincidunt erat. Duis eu fringilla quam.
          </p>
        </article>
      </div>
      <div>
        <input id="ac-3" name="accordion-1" type="radio" />
        <label for="ac-3">References</label>
        <article class="ac-large">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eros velit, aliquet a risus a, aliquam venenatis nulla. Nulla ac leo sit amet tellus dapibus posuere. Ut vitae nulla tempor, placerat lorem a, condimentum massa. Curabitur lacinia eget dolor a commodo. Nam malesuada orci eleifend sapien rhoncus eleifend. Cras at ante neque. Aenean id arcu vitae dui accumsan volutpat. Suspendisse potenti. Vivamus sem nisl, pellentesque nec vulputate at, sodales vitae augue. Morbi eu diam mauris. Nullam vel ante turpis. Etiam ac tincidunt erat. Duis eu fringilla quam.
          </p>
        </article>
      </div>
      <div>
        <input id="ac-4" name="accordion-1" type="radio" />
        <label for="ac-4">Contact us</label>
        <article class="ac-large">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eros velit, aliquet a risus a, aliquam venenatis nulla. Nulla ac leo sit amet tellus dapibus posuere. Ut vitae nulla tempor, placerat lorem a, condimentum massa. Curabitur lacinia eget dolor a commodo. Nam malesuada orci eleifend sapien rhoncus eleifend. Cras at ante neque. Aenean id arcu vitae dui accumsan volutpat. Suspendisse potenti. Vivamus sem nisl, pellentesque nec vulputate at, sodales vitae augue. Morbi eu diam mauris. Nullam vel ante turpis. Etiam ac tincidunt erat. Duis eu fringilla quam.</p>
        </article>
      </div>
    </section>
    
  </div>

</div>
