<div class="row">
	<div class="col-md-12">
		<div id="quiz">
			<br/>
			<h1 class="text-sm-center">Personality Quiz</h1>
			<hr *ngIf="mode!='alert'"/>
	
			<div *ngIf="mode=='quiz' && quizzes">
				<div *ngFor="let quiz of filteredQuizzes">
					<div class="badge badge-info">
						Question {{pager.index + 1}} of {{pager.count}}
					</div>
					<h2>{{pager.index + 1}}/ 
						<span [innerHTML]="quiz.question"></span>
						</h2>
					<div class="row text-left options">
						<div class="col-md-6" *ngFor="let choice of quiz.choices">
							<div class="option">
								<label class="" [attr.for]="choice.id">
									<input id="{{choice.id}}" type="checkbox" [(ngModel)]="choice.selected" (change)="onSelect(quiz, choice);"/>
									{{choice.name}}
								</label>
							</div>
						</div>
					</div>
				</div>
				<hr *ngIf="mode!='alert'"/>
				<div class="text-sm-center">
					<button class="btn btn-default" (click)="goTo(pager.index - 1)">Prev</button>
					<button class="btn btn-primary" (click)="goTo(pager.index + 1)">Next</button>
				</div>
			</div>
			<div class="row review" *ngIf="mode=='review'">
				<div class="col-sm-4" *ngFor="let quiz of quizzes; let index = index">
					<div (click)="goTo(index)" class="{{ isAnswered(index) == 'Answered'? 'answered': 'not-answered' }}">{{index + 1}}. {{isAnswered(index)}}
				</div>
			</div>
		</div>
		<div class="result" *ngIf="mode=='result'">
			<h2>Your Result</h2>
			<app-result>
			</app-result>
		</div>
		<div *ngIf="mode=='alert'">
			<h4 class="alert alert-info text-sm-center">You did not answer all the questions.</h4>
		</div>
		<hr/>
		<div class="text-sm-center">
			<div *ngIf="mode!='result'">
	  		<button class="btn btn-default" (click)="mode = 'quiz'">Quiz</button>
	  		<button class="btn btn-default" (click)="mode = 'review'">Review</button>
	  		<button class="btn btn-default" (click)="onSubmit();">Submit</button>
			</div>
		</div>
	</div>
</div>

